<div class="container">
    <h1 class="title-page">Sign In</h1>

    <form action="/auth/signin" method="POST" class="form form-signin">
        <div class="form-group">
            <label for="input-email">Email</label>
            <input type="email" name="email" id="input-email" />
        </div>

        <div class="form-group">
            <label for="input-password">Password</label>
            <input type="password" name="password" id="input-email" />
        </div>

        <div class="form-footer">
            <button class="btn btn-signin">Sign In</button>
        </div>
    </form>
</div>