<div id="actions-bar">
    <div class="container">
        <div class="serchbar">
            <input id="search-input" type="search" name="search" placeholder="Research..." />
        </div>
    </div>
</div>