<nav id="nav-admin">
    <div class="container">
        <div class="nav-spacer">
            <div class="nav-brand">
                <a href="/" class="nav-brand">
                    <img id="logo" class="brand-logo" src="/images/logo-min.png">
                    <h1 class="brand-text">
                        Social Cooking
                    </h1>
                </a>
            </div>

            <ul class="nav-links">
                <li class="nav-item">
                    <a class="nav-link" href="/tags">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/recipes">Recipes</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="/profile/{{userId}}">
                        <img class="avartar-min" src="{{avatar}}" />{{username}}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Logout</a>
                </li>

            </ul>
        </div>
    </div>
</nav>