<div class="page-landing">


    <header class="header">
        <div class="container">

            <h2 class="title">Welcome to <br>Social Cooking</h2>
            <img class="visu-header" src="/images/header-connect.png">
            <p>Share your recipes with the comunity and keep thiers</p>
        </div>
    </header>
    <section>
        <div class="container">
            
        </div>
    </section>
</div>