@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@100;300;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font: 10px 'Rokkitt', serif;
    background-color: var(--color-ocre);
    background-image: url('../../images/bg-body-2.png');
    background-position: center center;
    background-size: 40%;
}

a {
    color: #00B7FF;
}

a:visited,
a:link,
a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.4);
}

a:hover {
    color: rgba(0, 0, 0, 8);
}

button {
    border: 0;
}

button:hover,
a:hover {
    outline: none;
    cursor: pointer;
}


ul,
ol,
li {
    list-style: none;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
    color: var(--color-main-red);
}

p {
    font-size: 1.1em;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

.title-page {
    text-align: center;
    margin-bottom: 1rem;
    ;
}

.table thead th {
    background-color: #222;
    color: white;
}

.table td {
    vertical-align: top;
    ;
}

.table tr {
    border-bottom: 1px solid #666;
}

.table tr:nth-child(odd) {
    background-color: #eee;
}

.table td {
    padding: 5px;
}

.table-users img,
.table-recipes img {
    width: 30px;
    height: auto;
}

.cell-avatar {
    display: flex;
    flex-direction: column;
}

.cell-steps {
    width: 200px;
    margin: 10px;
}


.table-overflow {
    overflow-x: scroll;
}

/******** Error message *******/
.error-message {
    color: orangered;
}

.success-message {
    color: green;
}

/********* BTNS ***********/
.btn {
    padding: .2rem 1.2rem;
    border-radius: 4px;
    color: whitesmoke;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn.btn-more {

    background-color: rgb(186, 33, 38);
    color: white;

    transition: all .3s ease-out;
}

.btn.btn-show,
.btn-add-favorite,
.btn-create {
    background-color: rgba(93, 197, 93, 1);
}

.btn.btn-delete {
    background-color: rgba(169, 24, 29, 1);
}

.btn.btn-more:hover {
    background-color: rgb(206 47 52);
}

.btn.btn-edit,
.btn.btn-update {
    background-color: orange;
}

.btn-btn-signin,
.btn.btn-signup {
    background-color: rgb(186, 33, 38);
    transition: all 0.2s ease-out;
    color: white;
}

.btn.btn-signin:hover,
.btn.btn-signup:hover {
    background-color: rgb(202, 55, 60);
    background-color: rgb(202, 55, 60);
    color: white;
}