.page-single-card .card.recipe {
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.page-single-card .card.recipe img {
    width: 100%;
}
