:root {
    --color-red: rgba(186, 33, 38, 1);
    --color-ocre: rgba(228, 214, 181, 1);
    --color-white: whitesmoke;
    --color-black: #2d2828;
    --color-nav: rgb(220, 198, 147);
    /*#d2be90*/
}