<div class="container">
    <h1>Create tag</h1>

    <form class="form" method="POST" action="/tags/create">
        <label for="input-label">Label</label>
        <input class="input" type="text" id="input-label" name="label">
        <button>Create</button>
        <p>{{error_message}}</p>
    </form>
</div>