<div class="container">
    <h1>Edit tag</h1>

    <form class="form" method="POST" action="/tags/{{tag._id}}/edit">
        <label for="input-label">Label</label>
        <input class="input" type="text" id="input-label" value="{{tag.label}}" name="label">
        <button>Update</button>
        <p>{{error_message}}</p>
    </form>
</div>