<div class="container">
    <h2 class="title-page">
        All users
    </h2>

    <ul class="grid list users">
        {{#each users}}
        <li class="grid list item-user">
            <div class="card-user">
                <div class="card-content-user">
                    <div class="visu-avatar">
                        {{this.avatar}}
                    </div>
                    <div class="content-user-info">
                        {{this.username}}
                        <a href="/recipes/{{this._id}}/user" class="btn-btn-more">
                            See recipes
                        </a>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>