<div class="page recipes-by-ueser">
    <div class="container">
        <h2 class="title-page">Recipes by user</h2>
        
        {{#if message}}
            <div>
                <p>{{message}}</p>
            </div>
        {{else}}
            
           <ul class="grid list">
               {{#each recipes}}
                    {{> single_recipe_in_grid this}}
               {{/each}}
           </ul>
           
        {{/if}}
    </div>
</div>