<div class="page recipes-by-ueser">
    <div class="container">
        <h2 class="title-page">Recipes by user</h2>

        {{#if message}}
            <div>
                <p>{{message}}</p>
            </div>
        {{else}}
            
            }
           
        {{/if}}
    </div>
</div>