<div class="container">
    <div class="page-single-card">
        <div class="card recipe">
            <img src="{{recipe.image}}" alt="{{recipe.title}}" />
            <h3>{{recipe.title}}</h3>

            {{#if isLoggedIn}}
            <div class="action">
                <button class="btn btn-add-favorite">Add to favorite</button>
                <button class="btn btn-add-favorite">Follow this author</button>
            </div>
            {{/if}}
        </div>
    </div>
</div>